.large-hero {
    position: relative;
    background-image: url('https://ijalfauzi.github.io/cee/assets/images/20231212_large_hero.webp');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5.1rem;
    padding: 21.6rem 0 16.5rem;

    @mixin atSmall {
        padding: 6.5rem 0;
    }

    @mixin atLarge {
        padding: 20.875rem 0 15rem;
        margin-top: -5.875rem;
    }

    &__text-content {
        padding-top: 60px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;
    }

    &__title {
        text-transform: uppercase;
        font-style: italic;
        font-weight: 300;
        margin: 0;
        font-size: 2.5rem;
        text-align: center;
        margin-top: 0;
        color: $white;
        line-height: 1;
        transition: .25s all ease-out;

        z-index: 2;

        strong {
            color: #f4c400;
            font-weight: 700;
        }

        span {
            font-weight: 700;
        }

        @mixin atSmall {
            font-size: 6rem;
            text-align: inherit;
            margin-top: 6rem;
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1280px) {
    /* Top and bottom padding for large hero on medium screen */
    .large-hero {
        padding: 15.875rem 0 10rem;
    }
}


@media screen and (max-width: 575px) {
    .large-hero__title {
        text-align: center;
        margin-left: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .large-hero__title {
        font-size: 2.5rem;
        margin-left: 6rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .large-hero__title {
        font-size: 5rem;
        margin-left: 7rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .large-hero__title {
        font-size: 5rem;
        margin-left: 4rem;
    }
}

@media screen and (max-width: 480px) {
    .large-hero {
        background-image: url('https://ijalfauzi.github.io/cee/assets/images/large_hero_mobile.webp');
    }
}