.large-hero {
    position: relative;
    background-image: url('https://ijalfauzi.github.io/cee/assets/images/large_hero_new_2.webp');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin-top: -5.1rem;
    padding: 21.6rem 0 16.5rem;

    @mixin atSmall {
        padding: 6.5rem 0;
    }

    @mixin atLarge {
        padding: 20.875rem 0 15rem;
        margin-top: -5.875rem;
    }




    &__text-content {
        padding-top: 60px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;
    }

    &__title {
        font-weight: 600;
        margin: 0;
        font-size: 1.25rem;
        text-align: center;
        margin-top: 0;
        color: $white;

        z-index: 2;

        @mixin atSmall {
            font-size: 5rem;
            text-align: inherit;
            margin-top: 0;
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1280px) {
    /* Top and bottom padding for large hero on medium screen */
    .large-hero {
        padding: 15.875rem 0 10rem;
    }
}

@media screen and (max-width: 1024px) {
    /* Remove top left background on 1024px screen */
    .site-blog::before, .site-content::before {
        display: none;
    }
}